body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.img-categoria{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.videoCont{
    max-height: 380px;
    object-fit: cover;
    object-position: 50% 15%;
}
a.text-decoration-none {
    text-decoration: none !important;
  }

@media (min-width: 992px){
    .videoCont{
        max-height: 550px;
        object-fit: cover;
        object-position: 50% 13%;
    }
}